#include <windows.h>
#define xstr(s) str(s)
#define str(s) #s

// Define this file as utf-8
#pragma code_page(65001)

IDI_ICON1 ICON DISCARDABLE "phoenix.ico"

1 VERSIONINFO
FILEVERSION PHOENIX_VER_TUPLE
PRODUCTVERSION PHOENIX_VER_TUPLE
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Team Phoenix"
            VALUE "FileDescription", "Phoenix"
            VALUE "FileVersion", xstr(PHOENIX_VER_STR)
            VALUE "InternalName", "Phoenix"
            VALUE "LegalCopyright", "Copyright ©2016 Team Phoenix -- Licensed under GPLv2"
            VALUE "OriginalFilename", "Phoenix.exe"
            VALUE "ProductName", "Phoenix"
            VALUE "ProductVersion", xstr(PHOENIX_VER_STR)
        END
    END
    BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x409, 1252
		END
END