[Desktop Entry]
# This specification defines 3 types of desktop entries: Application (type 1), Link (type 2) and Directory (type 3)
Type=Application
# The version of the desktop entry specification to which this file complies
Version=1.0
# Specific name of the application, for example "Mozilla"
Name=Phoenix
# Generic name of the application, for example "Web Browser"
GenericName=Multi-system Emulator
# Tooltip for the entry, for example "View sites on the Internet". The value should not be redundant with the values of Name and GenericName
Comment=Play and manage your classic game collection
# The executable of the application.
Exec=/usr/bin/Phoenix
# The name of the icon that will be used to display this entry
Icon=phoenix
# Describes whether this application needs to be run in a terminal or not
Terminal=false
# Describes the categories in which this entry should be shown
Categories=Game;Emulator;Database;
