[submodule "backend"]
	path = backend
	url = git@github.com:team-phoenix/phoenix-backend.git
	branch = master
	ignore = dirty
[submodule "externals/quazip"]
	path = externals/quazip
	url = git@github.com:team-phoenix/quazip.git
	branch = master
	ignore = dirty
