# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.obj

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
release/
debug/

# OSX
.DS_Store

# QtCreator

*.autosave

# Vim

.*.swp

# Python
*.pyc
*.py~

# Phoenix executable
phoenix.exe
phoenix
object_script.phoenix.Debug
object_script.phoenix.Release
